{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'order/styles.css' %}"/>
</head>
<body>
    <article>
        <header class="container">
            <h1> Design of dog and cat home  API implemented in the Django rest-framework</h1>
            <a href="https://www.django-rest-framework.org/"> read more...</a>
        </header>
    </article>

</body>
</html>